/* header и hero*/

.logo {
  position: absolute;
  width: 138px;
  height: 64px;
  float: left;
  margin-left: 70px;
  background-color: rgba(255, 255, 255, 1);
}

.shadow-decor {
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "PT Sans", serif;
  font-weight: 400;
}
header{
  display: block;
  width: 1200px;
  height: 831px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.navbar {
  display: flex;
  align-content: baseline;
  align-items: center;
  width: 1200px;
  height: 64px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: space-between;
  float: right;
}

.head-navigation{
  display: flex;
  list-style: none;
  gap: 8px;
  width: 450px;
}

.head-navigation:first-child {
  margin-left: 0;
}

.user-nav {
  display: flex;
  width: 88px;
}

.navigation-item {
  font-family: "PT Sans", serif ;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 20px 16px;
}

.navigation-item a {
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 26px;
}

.head-navigation li {
  margin-left: 10px;
}

.header-button {
  height: 38px;
  width: 160px;
  background-color: #756157;
  margin-right: 70px;
  border-radius: 4px;
  color: #fff;
  font-family: "PT Sans", serif ;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
}

.hero-top {
  width: 100%;
}

.hero {
  background-image: url("/img/hero-background.svg");
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 767px;
  padding-top: 51px;
}

.hero-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 458px;
  height: 352px;
}

.hero-divider {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.hero-h1 {
  text-transform: uppercase;
  font-family: "PT Sans", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-top: 69px;
}

.hero-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

/*main*/

.main-content {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  margin-top: 0px;
}

.priority-list {
  display: grid;
}

.main-h2 {
  text-transform: uppercase;
  font-family: "PT Sans", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-top: 69px;
}

.main-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}
